.login-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 400px;
  margin: 100px auto 0;
  background-color: white;
  border-radius: 0.5rem;
  z-index: 999;

  .title-center {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .form-footer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;

    .forgot {
      font-size: 0.9rem;
      color: #0077ff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .or {
    text-align: center;
    margin: 1.5rem 0;
    font-weight: 500;
    color: #888;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 40%;
      height: 1px;
      background: #ccc;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    span {
      background-color: white;
      padding: 0 1rem;
      position: relative;
      z-index: 1;
    }
  }

  .social-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;

    button.google {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: white;
      border: 1px solid #ddd;
      color: #444;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      flex: 1;
    }

    button.other {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: #0a66c2;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      flex: 1;
    }

    img {
      height: 20px;
      width: 20px;
    }
  }

  .footer-links {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.9rem;
  }
}
